*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;}
body{font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;}
body::-webkit-scrollbar {
    display: none;
}
li{list-style: none;}
a{text-decoration: none;}
:root{
    --color-skyblue:#d6e8f2;
    --color-blue:#003964;
}
.head{
    display: flex;
    justify-content: space-between;
    height: 130px;
    background-color:#fff
}
.logo{
    width: 250px;
    height: 51px;
    margin: 40px;
}
.logo>a>img{
    width: 250px;
    height: 100%;}
.gnb{
    background-color:#fff;
}
.gnb-list{
    display: flex;
}
.gnb-list>li{
    width: 200px;
    height: 130px;
    text-align: center;
}
.gnb-list>li:hover .drop-menu{
    background-color: var(--color-skyblue);
}
.gnb-list>li>a{
    line-height: 130px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.gnb-list>li>a::after{
    content: "";
    display: block;
    border-bottom: 2px solid var(--color-blue);
    width: 200px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    position: relative;
    z-index: 2;
}
.gnb-list>li>a:hover::after{
    transform: scaleX(1);
}
.drop-menu{
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 200px;
    height: 340px;
    background-color: #fff;
    position: absolute;
    top:130px;
    display: none;
    z-index: 1;
}
.gnb-list>li:nth-of-type(1)::before{
    content: "";
    display: none;
    border-top: 1px solid #eee;
    width: 763px;
    height: 340px;
    background-color: #fff;
    position:absolute;
    top: 130px;
    left: 0;
    z-index: 1;
}
.drop-menu>li{
    margin: 9px 0;
}
.drop-menu>li>a{
    color: #000;
}
.drop-menu>li>a:hover{
    text-decoration: underline;
}
.gnb-list:hover .drop-menu{
    display: block;
}
.gnb-list:hover.gnb-list>li:nth-of-type(1)::before{
    display: block;
}
.hamburger{
    visibility: hidden;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    z-index: 36;
}
.hamburger>span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 7px 0;
}
.hamburger.on.hamburger>span{
    margin: 0;
    background-color: #fff;
}
.hamburger.on.hamburger>span:nth-of-type(2){
    display: none;
 }
 .hamburger.on.hamburger>span:first-of-type{
     transform: rotate(45deg);
 }
 .hamburger.on.hamburger>span:last-of-type{
     transform: rotate(-45deg);
     margin-top: -2px;
 }
.mobile{
    position:fixed;
    z-index: 35;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100%;
    background-color: #fff;
}
.mobile.on{
    transition: right .4s ease-in-out;
    right: 0;
}
.mobile>.title{
    padding-left: 10px;
    width: 100%;
    height: 60px;
    background-color: var(--color-blue);
}
.mobile>.title>i{
    color: #fff;
    margin-right: 3px;
}
.mobile>.title>a{
    color: #fff;
    line-height: 60px;
}
.mobile-gnb>ul>li{
    border-bottom: 1px solid #eee;
}
.mobile-gnb>ul>li>a{
    display: block;
    padding: 15px 20px;
}
.mobile-gnb li>a{
    color: #000;
}
.mobile-drop-menu{
    display: none;
    padding: 5px 20px;
    background-color: #eee;
}
.mobile-drop-menu>li{
    margin: 10px 0;
}
.mobile-drop-menu>li>a{
    color: #8a8a8a;
}
.mobile-gnb li:hover .mobile-drop-menu{
    display: block;
}
.main-section{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:1fr 1fr 1fr 1fr;
    background: url(./image/p_image/main-section_background.jpg) no-repeat center/cover;
    width: 100%;
    height: 550px;
}
.main-section>.img-slide{
    grid-column: 2/4;
    grid-row: 1/4;
    margin-top: 69px;
}
.slide-wrap{
    width: 550px;
    height: 360px;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
}
.slide-list{
    width: 300%;
    height: 100%;
    /* width: 1650px;
    height: 360px; */
    transition: transform .5s;
}
.slide-list>.slide-item{
    width: 33.33334%;
    height: 100%;
    /* width: 550px;
    height: 360px; */
    float: left;
}
.slide-item>img{
    max-width: 100%;
    width: 100%;
}
.main-section>#wrap{
    grid-column: 4/6;
    grid-row: 2/4;
}
.controls{
    width: 550px;
    text-align: center;
    margin: 20px auto;
}
.controls>button{
    border: none;
    outline: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #727272;
    cursor: pointer;
}
#slide01{
    background-color: var(--color-blue);
}
.main-section>.button{
    margin-top: 50px;
    text-align: center;
    grid-column: 4/7;
    grid-row: 2/3;}
.main-section>.button button{
    border: none;
    outline: none;
    width: 330px;
    height: 76px;
    border-radius: 60px;
    transition: background-color 1s;
    background: linear-gradient(to right,#003964, transparent) #a4cce1;
    box-shadow: 0 4px 15px 0 rgba(102, 132, 177, 0.75);
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 4px rgb(77, 77, 77);
    font-size: 22px;
    transition: all .9s ease-in-out;
}
.main-section>.button button:hover,
.main-section>.button button:focus {
    background-color: #b80854;
  }
.quick-menu{
    margin-top: 85px;
    grid-column: 4/7;
    grid-row: 3/5;
}
.quick-menu>ul{
   text-align: center;
}
.quick-menu>ul>li{
    margin:0 23px;
    display: inline-block;
    text-align: center;
}
.quick-menu>ul>li>a>div{
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color:#fff;
    box-shadow: 0 4PX 15px 0 rgba(112, 112, 112, 0.2) ;
    border-radius: 30px;
    margin-bottom: 8px;
}
.quick-menu>ul>li>a>div>img{
    vertical-align: middle;
    width: 65%;
}
.quick-menu>ul>li>a>span{
    color: #000;
}
.search{
    text-align: center;
    width: 100%;
    height: 129px;
    line-height: 129px;
    background:#c7d9e2}
.search>button{
    box-shadow: 0 0 5px 5px rgba(174, 188, 195, 0.4);
}
.search input[type="text"]{
    width: 50%;
    height: 54px;
    border-radius: 54px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(174, 188, 195, 0.4) ;
    padding: 20px;
    font-size: 18px;
}
.search input[type='text']::placeholder{
    font-size: 16px;
}
.search button{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    margin-left: 5px;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 480px;
    
}
.board{
    width: 610px;
    height: 380px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 30px;
    box-shadow: 0 10px 20px 20px rgba(185, 185, 185, 0.4);
    padding: 7px;}
.board-list{
    padding: 17px;
    border-bottom: 1px solid #eee;}
.board-title{
    position: relative;
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    color: #727272;}
.board-title::before{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-blue);
    border-radius: 3px;
    position: absolute;
    bottom: -19px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.board-title.active::before{
    transform: scaleX(1);
}
.board-title:hover{
    color: #000;
}
.board-title>a,
.board-item>li>a{
    color: #000;
}
.board-item{
    margin-top: 8px;
    padding-left: 17px;
}
.board-item>li{
    position: relative;
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.board-item>li::before{
    content: "";
    display: block;
    position: absolute;
    top: 23px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--color-blue);
}
.board-item>li>a{
    padding-left: 16px;
}
.item2,.item3,.item4,.item5{display: none;}
.sns{
    position: relative;
    margin-left: 50px;
    width: 380px;
    height: 380px;
    line-height: 400px;
    border-radius: 30px;
    border: 1px solid #eee;
    box-shadow: 0 10px 20px 20px rgba(185, 185, 185, 0.4);
}
.video{
    height: 300px;
}
.video>iframe{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.department{
    position:relative;
    width: 100%;
    height: 400px;
}
.department-wrapper{
    position: relative;
    top: 50px;
    width: 1270px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}
.department-list{
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-out;
}
.department-list>li:not(:last-child){
    margin-right: 30px;}
.department-list>li{
    margin-top: 50px;
    cursor: pointer;
    float: left;
    width: 230px;
    height: 300px;
    border-radius: 30px;
    background-color:var(--color-skyblue);
    transition: transform .4s ease-out;
    padding-left: 20px;
    position: relative;
}
.department-list>li:hover{
    transform: translateY(-10px);
}
.department-list>li>h3::before{
    content: "";
    display: block;
    width: 80px;
    height: 2.5px;
    background-color: var(--color-blue);
    margin-top: 25px;
    margin-bottom: 17px;
}
.department-list>li>p{
    width: 150px;
    margin-top: 33px;
}
.department-list>li:hover{
    background-color: #8dc2df;
}
.arrow{
    position: absolute;
    bottom: 25px;
    right: 20px;
}
.arrow>a{
    font-size: 13px;
    color: #000;
}
.department>span{
    margin-top: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    cursor: pointer;
}
.pre{
    left: 70px;
}
.next{
    right: 70px;
}
.img-link{
    margin-top: 35px;
    width: 100%;
    height: 100px;
    background-color: #eee;
    padding: 29px 0;
}
.imglink-list{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.imglink-item{
    margin: 0 8px;
    width: 170px;
    height: 45px;
    background-color: #fff;
}
.imglink-item>a>img{
    width: 170px;
    height: 45px;
}
footer>.link{
    width: 100%;
    background-color: var(--color-blue);
    padding: 15px 20px;
}
.link-list>.link-item{
    margin-left: 23px;
    display: inline-block;}
.link-list>.link-item>a{
    color: #fff;
}
.link-list>.link-item:first-child>a{
    color: gold;
}
.footer-wrap{
    padding: 25px 0 50px 40px;
}
.footer-logo{
    margin-top: 10px;
    display: inline-block;
    width: 200px;
    height: auto;
}
.footer-logo>img{
    width: 100%;
}
.info{
    font-size: 15px;
    color: #727272;
    display: inline-block;
    margin-left: 100px;
}
.go-top{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background-color: #eee;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    cursor: pointer;
} 
@media screen and (max-width:1400px){
    .main-section>.button{
        margin-top: 84px;
        grid-row: 1/3;}
    .quick-menu{
        margin-top: 65px;
        grid-row: 2/4;
    }
    .quick-menu>ul{
        width: 300px;
        margin: 0 auto;
    }
    .quick-menu>ul>li{
        margin-top:13px;
    }
} 
@media screen and (max-width:1280px){
    .department-wrapper{
        width: 1010px;
    }
}
@media screen and (max-width:1240px){
    .main-section{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .quick-menu{
        margin-bottom: 30px;
    }
    .quick-menu>ul{
        width: auto;
    }
} 
@media screen and (max-width:1010px){
    .department-wrapper{
        width: 750px;
    }
}
@media screen and (max-width:960px){
    .logo{
        width: 200px;
        height: 43px;
        margin: 25px;
    }
    .logo>a>img{
        width: 200px;
        height: 100%;}
    .gnb{visibility: hidden;}
    .hamburger{visibility: visible;}
    .wrap{
        justify-content: space-around;
    }
    .board{
        width:363px;
         height: 320px;}
    .board-list{
        padding: 15px;}
    .board-title{
        margin-right: 3px;
        font-size: 13px;}
    .board-title:last-child{
        margin-right: 0;
    }
    .board-item>li{
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .board-item>li>a{
        font-size: 13px;
    }
    .board,.sns{
        margin-top: 25px;
    }
    .sns{
        width: 363px;
        height: 320px;
        margin-left: 0;}
    .video>iframe{
        width:363px;
        height: 260px;
    }
}
@media screen and (max-width:768px){
    .main-section>.img-slide{
        margin-top: 60px;
    }
    .slide-list{
        height: auto;
    }
    .slide-wrap{
        width: 100%;
        height: auto;
    }
    .slide-list>.slide-item{
        height: auto;
        margin-bottom: -5px;
    }
    .controls{
        width: 100%;
        margin: 0 auto;
    }
    .main-section>.button{
        margin-top: 15px;}
    .main-section>.button button{
        width: 225px;
        height: 60px;
        font-size: 19px;
    }
    .quick-menu{
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .quick-menu>ul>li{
        margin:0 13px;
    }
    .quick-menu>ul>li>a>div{
        width: 60px;
        height: 60px;
        line-height: 60px;
        background-color:#fff;
        box-shadow: 0 4PX 15px 0 rgba(112, 112, 112, 0.2) ;
        border-radius: 15px;
        margin-bottom: 8px;
    }
    .quick-menu>ul>li>a>span{
        font-size: 14px;
    }
    .wrap{flex-direction: column;
        height: auto;
    }
    .search{
        height: 85px;
        line-height: 85px;}
    .search input[type="text"]{
        width: 70%;
        height: 35px;
        padding: 6px;
        font-size: 16px;
    }
    .search input[type='text']::placeholder{
        font-size: 14px;
    }
    .search button{
        width: 35px;
        height: 35px;
    }
    .department-wrapper{
        width: 490px;
    }
    .link-list{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .link-list>.link-item{
        margin-left: 12px;}
    .link-list>.link-item>a{
       font-size: 12px;
    }
    .footer-wrap {
        position: relative;
        padding: 25px 10px 50px 10px;
    }
    .footer-logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .info{
        display: block;
        text-align: center;
        margin-left: 0;
        margin-top: 68px;
    }
}
@media screen and (max-width:500px){
    .department-wrapper{
        width: 230px;
    }
}